<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Oporteo\OrderUpload\Api\StockValidatorInterface"
                type="Oporteo\OrderUpload\Model\StockValidator"/>
</config>
