<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="accord_settings" translate="label" sortOrder="0">
            <label>Oporteo Settings</label>
        </tab>
        <section id="oporteo" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="100" translate="label">
            <label>Order Upload</label>
            <tab>accord_settings</tab>
            <resource>Oporteo_Csvorderupload::config_oporteo_csvorderupload</resource>
            <group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>General</label>
                <field id="enabled" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Enabled</label>
                    <comment>
                        In order to start using 'Order Upload', you need to set the 'Enable' field to 'Yes'. The system
                        will automatically add the link to the standard menu. If you are using 'NinjaMenus' you need to
                        add a new menu item with the value '/orderupload' for the 'Custom Link' field in 'Menu Builder'.
                    </comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="plof" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Price List Download</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>
            <group id="information" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Info</label>
                <frontend_model>Oporteo\Csvorderupload\Block\Version</frontend_model>
            </group>
        </section>
    </system>
</config>
